server:
  port: 8084

spring:
  application:
    name: operator-service
  datasource:
    url: jdbc:postgresql://localhost:5432/lease_peace
    username: admin
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
